<!DOCTYPE html>
<html lang="en">
{% extends "app/base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Pixel</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 form-container">
                <h2 class="text-center">Welcome to {% if 'message' in request.path %}
                    Decode Message
                    {% elif 'file' in request.path %}
                    Decode File
                    {% endif %}</h2>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}

                        {% if field.name == 'Image' %}
                        <small class="form-text text-muted">Please upload the image to extract hidden
                            information.</small>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            // Show dropdown on hover
            $('.dropdown-toggle').hover(function () {
                $(this).next('.dropdown-menu').stop(true, true).slideDown(300);
            }, function () {
                $(this).next('.dropdown-menu').stop(true, true).slideUp(300);
            });
        });
    </script>
    </body>
    {% endblock content %}

</html>