{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/home.css' %}">
</head>
<header>
    <h1 class="fluid">You can<br /><br /> Hide data.</h1>
</header>
<main>
    <section class="content fluid">
        <h2><span aria-hidden="true">You can&nbsp;</span>
            <span class="sr-only">you can secure information.</span>
        </h2>
        <ul aria-hidden="true" style="--count: 22">
            <li style="--i: 0">encode.</li>
            <li style="--i: 1">decode.</li>
            <li style="--i: 2">encrypt.</li>
            <li style="--i: 3">decrypt.</li>
            <li style="--i: 4">hide.</li>
            <li style="--i: 5">extract.</li>
            <li style="--i: 6">protect.</li>
            <li style="--i: 7">conceal.</li>
            <li style="--i: 8">embed.</li>
            <li style="--i: 9">reveal.</li>
            <li style="--i: 10">scramble.</li>
            <li style="--i: 11">detect.</li>
            <li style="--i: 12">obfuscate.</li>
            <li style="--i: 13">secure.</li>
            <li style="--i: 14">analyze.</li>
            <li style="--i: 15">compress.</li>
            <li style="--i: 16">decrypt safely.</li>
            <li style="--i: 17">encode smartly.</li>
            <li style="--i: 18">protect privacy.</li>
        </ul>
    </section>
    <section>
        <h2 class="fluid">
            <!-- Button -->
            <div class="button-wrap">
                <button>
                    <span>Generate</span>
                </button>
                <div class="button-shadow"></div>
            </div>


        </h2>
    </section>
</main>
<footer>secretpixel.tech &copy; 2025</footer>
<a class="bear-link" href="https://dipeshacharya.tech" target="_blank" rel="noreferrer noopener">
    <img src="{% static 'app/2.png' %}" alt="Logo" style="width: 60px; height: 60px; background: transparent;"
        class="logo-dark">
    <img src="{% static 'app/1.png' %}" alt="Logo" style="width: 60px; height: 60px; background: transparent;"
        class="logo-light">
</a>

<style>

</style>
<script>

    document.querySelector('.button-wrap button').addEventListener('click', function () {
        window.location.href = window.location.origin + '/encode_message';
    });

</script>