:root {
    --background-color: white;
    --card-background-color: white;
    --text-color: #222;
    --social-icon-background: #007bff;
    --social-icon-hover-background: #0056b3;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --card-background-color: rgba(47, 47, 47, 0.596);
        --text-color: #ddd;
        --social-icon-background: #1a73e8;
        --social-icon-hover-background: #0c47a1;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.about-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.contributors {
    margin-top: 30px;
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    background: var(--card-background-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s;
    width: 320px;
    height: 320px;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.team-member img:hover {
    transform: scale(1.1);
}

.team-member h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: var(--text-color);
}
.know-more-btn {
    color: white;
    background: linear-gradient(135deg, #5e1fb0, #8e44ad);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border: none; /* Remove default 3D effect */
    margin-top: 20px;
    margin-bottom: 30px;
}


.know-more-btn:hover {
    transform: scale(1.05);
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.social-icons a {
    display: inline-block;
    font-size: 1.2em;
    color: white;
    background: var(--social-icon-background);
    padding: 5px 5px 5px 13px;
    border-radius: 50%;
    transition: background 0.3s;
}

.social-icons a:hover {
    background: var(--social-icon-hover-background);
}

.mission-section {
    margin-top: 40px;
    padding: 20px;
    background: linear-gradient(135deg, #007bff, #28a745);
    color: white;
    border-radius: 10px;
}